.container {
  position: relative;
  overflow-x: hidden;
}

nav {
  position: fixed;
  left: -200px;
  width: 200px;
  padding: 1rem;
  transition: 0.3s all ease;
  z-index: 1000;
  height: 100vh;
  background: #cfd8dc;
}
nav.open {
  left: 0px;
}
nav button {
  position: absolute;
  top: 0px;
  right: -35px;
  background: none;
  border: none;
  cursor: pointer;
}

.product--title__large {
  font-size: 3rem;
  display: block;
}
.product--title__small {
  font-size: 1.75rem;
  display: block;
  text-transform: uppercase;
  color: #607d8b;
}
.product--price {
  font-size: 1.5rem;
}
.product-image {
  display: block;
  margin: 0 auto;
}
.product-sold-out {
  display: block;
  color: #f44336;
  font-size: 1.5rem;
}
.product-remaining {
  display: block;
  color: #9e9e9e;
  font-style: italic;
}
.product--cart-button {
  color: #4caf50;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
